.header{
    background-color: #1F2937;
    padding: 5px 200px 80px 200px;
}

.topheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
}

.bottomheader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
    margin-top: 100px;
}

.btmheadimgdiv{
    
}

.btmheadtextdiv{
    width: 50%;
}

.header .bottomheader .btmheadtextdiv button{
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 25px;
    border-style: solid;
}

.header h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;

}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header p {
    color: #F9FAF8;
    font-size: 18px;
}

.header a {
    color: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
}

.header .topheader .links{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
}

.rainfo h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
} 

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-content{
    width: 50%;
    text-align: left;
}

.quotee{
    text-align: right;
}

.quote p {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;

}

.rainfo{
    margin: 50px;
}

.rainfo img{
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}


.rainfo1{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rainfo2{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}

.call1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
}

.call .call1 button{
    border-color: #F9FAF8;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px 25px;
    border-style: solid;
}